<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamd.tt.calender.CalenderMapper">
    <select id="selAllCalSchedule">
        SELECT id_title idTitle, title, start_date startDate, end_date endDate
        FROM travel
        WHERE start_date BETWEEN DATE_SUB(#{date}, INTERVAL 1 MONTH) AND DATE_ADD(LAST_DAY(#{date}), INTERVAL 1 MONTH)
    </select>

    <select id="selTitle">
        SELECT id_title idTitle, title, start_date startDate, end_date endDate
        FROM travel
        WHERE id_title = #{idTitle}
        ORDER BY start_date
    </select>
    <select id="selSub">
        SELECT a.id_sub idSub, a.sub_title subTitle, a.finish_yn finishYn
        FROM sub_title a
        INNER JOIN travel b
        ON a.id_title = b.id_title
        WHERE b.id_title = #{idTitle}
    </select>
    <select id="selCheck">
        SELECT a.id_check idCheck, a.check_list checkList, a.finish_Yn finishYn
        FROM check_list a
        INNER JOIN sub_title b
        ON a.id_sub = b.id_sub
        INNER JOIN travel c
        ON b.id_title = c.id_title
        WHERE b.id_sub = #{idSub}
    </select>
</mapper>