<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamd.tt.calender.CalenderMapper">
    <select id="selAllTitle">
        SELECT id_title idTitle, title, start_date startDate, end_date endDate
        FROM travel
        ORDER BY start_date;
    </select>
    <select id="selSub">
        SELECT id_sub idSub, sub_title subTitle, finish_yn finishYn
        FROM sub_title
        WHERE id_title = #{idTitle}
    </select>
    <select id="selCheck">
        SELECT id_check idCheck, check_list checkList, finish_Yn finishYn
        FROM check_list
        WHERE id_sub = #{idSub}
    </select>
</mapper>