<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamd.tt.map.MapMapper">

    <select id="selAllInfo">
        SELECT id_title idTitle, title
        FROM travel
        ORDER BY start_date DESC;
    </select>


    <select id="selPickInfo">
        SELECT id_title idTitle, title
        FROM travel
        WHERE id_region = #{idRegion}
        ORDER BY start_date DESC;
    </select>

    <select id="selPickDetailInfo">
        SELECT id_title idTitle, title
        FROM travel
        WHERE id_region = #{idRegion}
        AND id_region_detail = #{idRegionDetail}
        ORDER BY start_date DESC;
    </select>

</mapper>