<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamd.tt.map.MapMapper">

    <select id="selAllTitle">
        SELECT id_title idTitle, title, start_date startDate, end_date endDate
        FROM travel
        WHERE start_date > CURRENT_TIMESTAMP()
        ORDER BY start_date
    </select>
    <select id="selSub">
        SELECT id_sub idSub, sub_title subTitle, finish_yn finishYn
        FROM sub_title
        WHERE id_title = #{idTitle}
    </select>
    <select id="selCheck">
        SELECT id_check idCheck, check_list checkList, finish_Yn finishYn
        FROM check_list
        WHERE id_sub = #{idSub}
    </select>

    <select id="selRegionTitle">
        SELECT id_title idTitle, title, start_date startDate, end_date endDate
        FROM travel
        WHERE id_region = #{idRegion}
        ORDER BY start_date
    </select>

    <select id="selRegionDetailTitle">
        SELECT id_title idTitle, title, start_date startDate, end_date endDate
        FROM travel
        WHERE id_region = #{idRegion}
        AND id_region_detail = #{idRegionDetail}
        ORDER BY start_date
    </select>

    <select id="getRegionIdList">
        SELECT id_region
        FROM region
    </select>

    <select id="selCountMap">
        <foreach collection="list" item="item" index="index" separator="UNION">
            SELECT id_region idRegion, region,
            (
            SELECT COUNT(id_title)
            FROM travel
            WHERE CURRENT_TIMESTAMP > end_date
            AND id_region = #{item}
            ) AS count
            FROM region
            WHERE id_region = #{item}
        </foreach>
    </select>

    <select id="getCountAll">
        SELECT COUNT(id_title) AS countAll
        FROM travel
        WHERE CURRENT_TIMESTAMP > end_date
    </select>

    <select id="getRegionDetailIdList">
        SELECT id_region_detail
        FROM region_detail
    </select>
    
    <select id="selCountDetailMap">
        <foreach collection="list" item="item" index="index" separator="UNION">
            SELECT id_region_detail idRegionDetail, id_region idRegion, region_detail regionDetail,
            (
            SELECT COUNT(id_title)
            FROM travel
            WHERE CURRENT_TIMESTAMP > end_date
            AND id_region_detail = #{item}
            ) AS count
            FROM region_detail
            WHERE id_region_detail = #{item}
        </foreach>
    </select>

</mapper>