<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamd.tt.todolist.TodoMapper">

    <select id="selRegion" resultType="SelRegionVo">
        SELECT id_region idRegion, region
        from region
    </select>
    
    <select id="selDetailRegion" resultType="SelRegionDetailVo">
        SELECT id_region_detail idRegionDetail, id_region idRegion, region_detail regionDetail
        FROM region_detail
    </select>




    <insert id="insTitle">
        INSERT INTO travel
        (id_region_detail, id_region, title, start_date, end_date, cal_color)
        VALUES
        ( #{idRegionDetail}, #{idRegion}, #{title}, #{startDate}, #{endDate}, #{calColor})
    </insert>
        
    <insert id="insSubTitle">
        INSERT INTO sub_title
        (id_title, sub_title)
        VALUES
        ((SELECT id_title FROM travel ORDER BY id_title DESC LIMIT 1), #{subTitle})
    </insert>

    <insert id="insSubTitle2">
        INSERT INTO sub_title
        (id_title, sub_title, finish_yn)
        VALUES
        (#{idTitle}, #{subTitle}, #{finishYn})
    </insert>

    <insert id="insCheckList">
            INSERT INTO check_list
            (id_sub, check_list)
            VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            ((SELECT id_sub FROM sub_title ORDER BY id_sub DESC LIMIT 1), #{item.checkTitle, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <insert id="insCheckList2">
        INSERT INTO check_list
        (id_sub, check_list, finish_yn)
        VALUES
        (#{idSub}, #{checkTitle}, #{finishYn})
    </insert>

    <resultMap id="test" type="SelPickInfo">
        <id property="idTitle" column="idTitle"/>
        <collection property="subList"  column="{idTitle=idTitle}" select="selPickTravelInfoDetail"/>
    </resultMap>

    <resultMap id="test2" type="SelSubTitleListVo">
        <id property="idSub" column="idSub"/>
        <collection property="checkList"  column="{idSub=idSub}" select="selPickCheckInfo"/>
    </resultMap>

    <select id="selPickTravelInfo" resultMap="test">
        SELECT a.id_title idTitle, a.id_region_detail idRegionDetail, a.id_region idRegion, a.start_date startDate, a.end_date endDate, a.cal_color calColor, a.travel_review travelReview
        FROM travel a
        INNER JOIN region b
        ON a.id_region = b.id_region
        INNER JOIN region_detail c
        ON a.id_region_detail = c.id_region_detail
        WHERE a.id_title = #{idTitle}
    </select>

    <select id="selPickTravelInfoDetail" resultType="SelSubTitleListVo" resultMap="test2" >
        SELECT id_sub idSub, sub_title subTitle, finish_yn finishYn
        FROM sub_title
        WHERE id_title = #{idTitle}
    </select>

    <select id="selPickCheckInfo"  resultType="SelCheckListVo" >
            SELECT id_check idCheck, check_list checkTitle, finish_yn finishYn
            FROM check_list
            WHERE id_sub = #{idSub}
    </select>

    <select id="getSubIdList">
        SELECT id_sub
        FROM sub_title
        WHERE id_title = #{idTitle}
    </select>

    <update id="updTitle">
        UPDATE travel
        SET
        id_region_detail = #{idRegionDetail},
        id_region = #{idRegion},
        title = #{title},
        start_date = #{startDate},
        end_date = #{endDate},
        cal_color = #{calColor},
        travel_review = #{travelReview}
        WHERE id_title = #{idTitle}
    </update>
    <update id="updSubList">
        UPDATE sub_title
        SET
        sub_title = #{subTitle},
        finish_yn = #{finishYn}
        WHERE id_sub = #{idSub}
    </update>
    <update id="updCheckList">
        UPDATE check_list
        SET
        check_list = #{checkTitle},
        finish_yn = #{finishYn},
        finish_at = if(finish_yn = 1, CURRENT_TIMESTAMP(),NULL)
        WHERE id_check = #{idCheck}
    </update>

    <select id="selLastSubId">
        SELECT id_sub
        FROM sub_title
        ORDER BY id_sub DESC
        LIMIT 1;
    </select>

    <select id="selIdRegion">
        SELECT region
        from region
        where id_region = #{idRegion}
    </select>

    <select id="selIdRegionDetail">
        SELECT region_detail
        from region_detail
        where id_region_detail = #{idRegionDetail}
    </select>

    <delete id="delCheckList">
        DELETE from check_list
        WHERE id_check= #{idCheck}
    </delete>
    <delete id="delSubTitle">
        DELETE from sub_title
        WHERE id_sub= #{idSub}
    </delete>
    <update id="updTravel">
        UPDATE travel
        SET del_yn = 1 - del_yn
        WHERE id_title = #{idTitle}
    </update>

</mapper>