<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamd.tt.todolist.TodoMapper">

    <select id="selRegion" resultType="SelRegionVo">
        SELECT id_region idRegion, region
        from region
    </select>
    
    <select id="selDetailRegion" resultType="SelRegionDetailVo">
        SELECT id_region_detail idRegionDetail, id_region idRegion, region_detail regionDetail
        FROM region_detail
    </select>

    <insert id="insAddTitle">
        INSERT INTO travel
        (id_region, id_region_detail, start_date, end_date, cal_color, title)
        VALUES
        ( #{idRegion}, #{idRegionDetail}, #{startDate}, #{endDate}, #{calColor},#{title})
    </insert>
        
    <insert id="insAddSubTitle">
        INSERT INTO sub_title
        (sub_title)
        VALUES
        (#{subTitle})

    </insert>

    <insert id="insAddCheckList">
        INSERT INTO check_list
        (check_list)
        VALUES
        (#{check_list})
    </insert>

    <select id="selidRegion">
        SELECT region
        from region
        where id_region = #{idRegion}
    </select>

    <select id="selidRegionDetail">
        SELECT region_detail
        from region_detail
        where id_region_detail = #{idRegionDetail}
    </select>


</mapper>